* {
  padding: 0;
  margin: 0;
}

.homepage {
  position: relative;
  height: 200vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

body:not(.homepage) ::selection {
  background: var(--color-accent);
  color: inherit;
}

.homepage__house,
.homepage__bkg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.homepage__title {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  position: fixed;
  font-size: 5rem;
  white-space: nowrap;
  color: var(--color-neutral-10);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: contract 5s linear forwards;
}

.homepage__house {
  margin-top: 80px;
  animation: upscale 5s linear forwards;
  z-index: 3;
  pointer-events: none;
}

.homepage__bkg {
  animation: unblur 5s linear forwards;
  z-index: 1;
  pointer-events: none;
  margin-bottom: 30px;
}

@keyframes contract {
  0% {
    letter-spacing: -1.5rem;
    opacity: 0;
  }
  100% {
    letter-spacing: 0;
    opacity: 1;
  }
}

@keyframes unblur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(2px);
  }
}

@keyframes upscale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(5);
    opacity: 1;
  }
}

/* RESPONSIVE */
@media (prefers-color-scheme: dark) {
  .homepage__title {
    color: var(--color-neutral-10);
  }
}

/* Small Desktop */
@media (max-width: 1439px) {
  .homepage__title {
    font-size: 4rem;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .homepage__title {
    font-size: 4rem;
  }

  @keyframes upscale {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(4);
      opacity: 1;
    }
  }
}

@media (max-width: 915px) {
  .homepage__title {
    font-size: 2.6rem;
  }

  @keyframes upscale {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(3);
      opacity: 1;
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .homepage {
    overflow: visible;
    height: auto;
    min-height: 200vh;
  }

  .homepage__house {
    margin-top: 0;
  }

  .homepage__title {
    font-size: 2.2rem;
  }

  @keyframes upscale {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(2);
      opacity: 1;
    }
  }
}
