.legal-pages h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 3rem;
}

.legal-pages ul {
  margin-left: 30px;
  margin-bottom: 50px;
}

.legal-pages p {
  margin-bottom: 15px;
}

.legal-pages__link {
  position: relative;
  color: var(--color-neutral-10);
  text-decoration: none;
  font-weight: 600;
}

.legal-pages__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-neutral-10);
  transition: width 0.3s ease;
}

.legal-pages__link:hover::after {
  width: 100%;
}