.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.project-card__content .project-card__title {
  display: flex;
  align-items: center;
  min-height: 2rem;
}

.project-card__content h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.project-card__content p {
  font-size: 14px;
  margin: 0;
  line-height: 1.5rem;
  min-height: 1rem;
}
