:root {
  --color-neutral-0: #ffffff;
  --color-neutral-1: #999;
  --color-neutral-5: #555;
  --color-neutral-10: #111111;
  --color-accent: #dbaa05;
  --color-error: #c0392b;
  --color-quote: #5c5b5b54;
  --color-hover: #f5f5f5;
}

